@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body{
    background: #FFFFFF
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.main-title {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}
.main-description {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-content: center
    color: #000000;
    margin-top: 30px;
}
.first-title {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}
.first-description {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-content: center
    color: #000000;
    margin-top: 30px;
}